  <section class="text-gray-400 body-font bg-gray-900">
  <div class="container px-5 py-24 mx-auto">
    
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a routerLink="/jokeapi"><div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://play-lh.googleusercontent.com/kCuoLGcYqdmZN_TvKVYrUjuF2C8uua2rfY83anNJw7YGzijReQc3yTlsqzvMdxs03IM=w240-h480-rw" alt="content">
          <h3 class="tracking-widest text-pink-400 text-xs font-medium title-font">Joke Teller</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">Random Joke Teller</h2>
          <p class="leading-relaxed text-base">Try Out Random Joke Teller application built using RANDOM JOKE TELLER API.</p>
        </div></a>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a routerLink="/quoteapi"><div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-vector/simple-white-yellow-text-template_1017-7556.jpg?w=740&t=st=1709666653~exp=1709667253~hmac=8d7118455e74ec0e42ebe304b35ee64117745595d866b4a73d5d27bec7d3b253" alt="content">
          <h3 class="tracking-widest text-pink-400 text-xs font-medium title-font">QUOTE</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">Random Quote Generator</h2>
          <p class="leading-relaxed text-base">Try Out Random Quote Generator using RANDOM QUOTE GENERATOR API.</p>
        </div></a>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a routerLink="/randomuser">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://cdn.vectorstock.com/i/1000x1000/69/33/personal-info-data-user-or-profile-card-details-vector-22996933.webp" alt="content">
          <h3 class="tracking-widest text-pink-400 text-xs font-medium title-font">USER CARD</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">Random User Card Generator</h2>
          <p class="leading-relaxed text-base">Try Out Random User Card Generator using THE API.</p>
        </div>
      </a>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
       <a routerLink="/genderapi"> <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://media.istockphoto.com/id/1314046616/photo/gender-symbols.jpg?s=612x612&w=0&k=20&c=mcO3vU3WqFXzHEZQw3A3u0j8RnNC2AJPxd30E7kbFmw=" alt="content">
          <h3 class="tracking-widest text-pink-400 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">San Francisco</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
        </div></a>
      </div>
    </div>
  </div>
</section>